@import "tailwindcss";

.dark {
  --background: #1f1f1f;
  --foreground: #ededed;
}

:root {
  --background: #ffffff;
  --foreground: #1f1f1f;
}

@custom-variant dark (&:where(.dark, .dark *));

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
